CONFIG_EXTRA_KERNEL_CMDLINE="console=ttyS0"
CONFIG_IMAGE_SIZE="14G"
CONFIG_READ_ONLY=y
CONFIG_ROOT_PARTITION_SIZE="2G"
CONFIG_HAVE_USR_PARTITION=y
CONFIG_HAVE_HOME_PARTITION=y
CONFIG_HAVE_SERVER_DATA_PARTITION=y
CONFIG_HAVE_TEMPORARY_DATA_PARTITION=y
CONFIG_HAVE_SWAP_PARTITION=y
CONFIG_HAVE_OTHER_DATA_PARTITION=y
